.logoContainer {
    gap: 5px;
    height: 100%;
    display: flex;
    cursor: pointer;
    color: #4f6bed;
    user-select: none;
    width: fit-content;
    position: relative;
    padding-left: 15px;
    align-items: center;
    padding-right: 15px;
    justify-content: center;

    img {
        width: 40px;
    }
    
    span {
        font-size: 35px;
        font-weight: 1000;
        font-family: unset;
    }
}